/*Gerais*/
body{
    font-family: 'Roboto', sans-serif;  
  }
  
  .row{
   margin:0 ;
  }
  .container{
      padding: 30px 0 ;
  }
  
  p, li {
      color:#444;
      font-size: 14px;
  }


  
  .main-title{
    line-height: 40px;
    color: #444;
    margin : 0 0 65px 0 ;
    font-size: 40px;
    text-align: center;
    transition: .2s;
}
.main-title:hover{
  transform: scale(1.2);
}

.main-title::after{
   content: ""; 
   border-top: 2px solid #333;
   width: 15%;
   position: absolute;
   top:60px ;
   left: 42.5%;

}

.sobre-mim-texto{
    text-align: justify;
    font-size: 30px;
    margin: 20px;
}


/*Navbar*/

#id-navbar a , #id-navbar button{
    color: black;
}

.hover-effect{
 transition: .8s;
 color: blue;
}

.hover-effect:hover{
    transform: scale(1.3);
}

.logo-nav-brand{
    width: 70px;
}

.hover-effect-brand:hover{
    transform: scale(1.1);
}

.hover-effect-brand{
    transition: .2s;
}
.logo-social{
    width: 25px;
}

/*Seção about me*/
.about-p{
 color: gray;
 font-size: large;
 margin: 50px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.about-title{
  font-size: 30px;
  text-align: justify;
  color: gray;
  font-style: italic;  
  margin-left: 40px;

}

/*Seção Cards Projetos*/


#projetos-card{
    border-bottom: 2px solid rgb(56, 56, 56);
    display: block;
}
.card-hover{
  transition: .8s;
  
}

.card-hover:hover {
    transform: scale(1.1);
    background-color: azure;
}

.titulo-card{
  text-align: center;
  color: rgb(56, 56, 56);  
  size: 40px;

}
.li-git{
    text-align: center;
    color: rgb(56, 56, 56);  
    size: 20px;

}

.li-adress{
  text-align: center;
  color: rgb(56, 56, 56);  
  size: 20px;
}


/*Area de Contato*/
#contato-area{
    text-align: center;
}
.contact-box{
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(56, 56, 56);
    padding-top: 10px;
    transition: .5s;
    
}
.contact-box:hover{
    transform: scale(1.2);
    background-color:azure;
}

.contact-box i{
    color: #444;
    border: 1px solid #333;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
    
}

.contact-box p{
    font-size: 18px;
}

/*COPY RIGHTS*/
#copy-area {
    background-color: orange;
}

#copy-area .container{
    padding: 10px 0;
    text-align:  center;
}


/*Skills*/
.service-box{
    text-align: center; 
    margin-bottom: 50px;
 
 }
 
 .service-box i , .service-box h4 {
 transition: .5s;
 }
 .service-box i{
     font-size: 36px;
     margin-bottom: 20px;
     color:#444 ;
 }
 
 .service-box h4{
     font-size: 24px;
     margin-bottom:20px ;
 }
 
 .service-box:hover > i , .service-box:hover > h4 {
     color: rgb(56, 56, 56);
     transform: scale(1.2);
 }
 

/*Responsividade*/

@media(max-width:425){

    .container{
        padding-left: 100%;
        padding-right: 100%;
    }

    #autotipe{
        display: none;
        visibility: hidden;
    }
    .about-p{
        color: blue;
        text-align: justify;
    }

}